<%= render 'layouts/header.html.erb', title: 'A Propos', subheading: ""  %>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
        <div class="text-center">
            <iframe width="560" height="415" src="https://www.youtube.com/embed/42cDXelKfY0?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
              <p><span id="maj_text" class="title-header">L</span>a mémoire est un privilège. Mes Mots, c’est une initiative basée sur la thérapie par réminiscence pour soulager un peu celles et ceux qui en sont privés.
              Tout simplement une boite à souvenir numérique ou l’on range pêle-mêle photos, écrits, vidéo, enregistrements et fragments de vie pour qu’ils ne soient jamais vraiment perdus. Une boîte dans laquelle on peut aller fouiller, reprendre connaissance de son passé et permettre aux proches de garder une empreinte inaltérable d’une existence.
              Mes Mots c’est une plateforme personnelle, un cocon de mémoire, propre à chacun. Un outil parmi tant d’autres pour essayer d’apporter un peu de réconfort aux personnes souffrant de maladies cognitives dégénératives comme Alzheimer, ainsi qu’à leurs familles. Une tentative pour déclencher des réminiscences de souvenirs, aider les patients, les familles et le corps médical à mieux se connaître, et tenter d’accéder à un repos le plus doux possible. </p>
              <p>L’une des premières personnes à avoir soutenu le projet, à y croire, c’est Sophie Auriacombe. Neurologue spécialisée dans les maladies d’Alzheimer et apparentées, elle est à la pointe de la recherche sur la mémoire et le traitement de ces pathologies. Responsable des consultations mémoire au Centre Mémoire de Recherches et de Ressources au CHU de Bordeaux, elle s’intéresse notamment aux thérapies expérimentales qui pourrait aider, soulager voire guérir les malades, comme la thérapie par réminiscence. Elle est la marraine de cette initiative ainsi qu’un moteur fort de celle-ci.</p>
              <p></p>
            </div>
        </div>
    </div>
