<div class="container home">
  <div class="text-center">
    <%= image_tag "LogoMESMOTS.png", class: "logoHome img-responsive vertical-center" %>
    <h1 class="sousTitre">Ma boîte à souvenirs </h1>
    <div class="marginHeader">
    <%= link_to "Se connecter", user_session_path, class: "btn AjoutBtn" %>
  </div>
</div>
