<h1> Home page </h1>

<% if user_signed_in? %>
      	<%= link_to "Se déconnecter", destroy_user_session_path, method: :delete  %>
<% else %>
      	<%= link_to "Se connecter", new_user_session_path  %> <br>
      	<%= link_to "S’inscrire", new_user_registration_path  %>
<% end %>
<br>
<%= link_to 'Les histoires', 'memories#index' %>