<div class="container home">
  <div class="text-center">
    <%= image_tag "LogoMESMOTS.png", class: "logoHome vertical_center" %>
    <p>Ma boîte à souvenirs</p>
    <%= link_to "Se connecter", perso_path %>
  </div>
</div>
