<%= render 'layouts/header.html.erb', img: 'home-bg.jpg', title: '', subheading: ""  %>

<div class="container">
  <h1>Editing Memory</h1>

  <%= render 'form', memory: @memory %>

  <%= link_to 'Show', @memory %> |
  <%= link_to 'Retour', memories_path %>
</div>
