<%= render 'layouts/header.html.erb', img: 'home-bg.jpg', title: 'Ma Memorie', subheading: "L'humaniste que j'étais et que je suis toujours aujourd'hui ..."  %>

<div class="container">
  <h1>Editing Memory</h1>

  <%= render 'form', memory: @memory %>

  <%= link_to 'Show', @memory %> |
  <%= link_to 'Back', memories_path %>
</div>
