/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

  @import "bootstrap-sprockets";
 	@import "bootstrap";

	@import "font-awesome-sprockets";
	@import "font-awesome";

 @import url('https://fonts.googleapis.com/css?family=Raleway');

 @import url('https://fonts.googleapis.com/css?family=Dancing+Script');

.logo {
  width:180px;
  position:absolute;
}
.logo:hover {
cursor:pointer;
}
.logoHome {
  z-index: -2;
  max-width: 100%;
  margin:0 auto;
}
.home {
  height:80vh;
}
.vertical-center {
  position: relative;
    top: 50%;
    -webkit-transform: translateY(50%);
       -moz-transform: translateY(50%);
        -ms-transform: translateY(50%);
         -o-transform: translateY(50%);
            transform: translateY(50%);
}
.control-label {
  font-size:45px;
}
.navbar-default .navbar-nav > li > a, p  {
  font-size: 20px;
}
footer {
  margin-top: 200px;
}
.flash-msg {
  top:70px;
  position:absolute;
  max-width: 500px;
  width: 100%;
}
