// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.btn-home {
  background: #FFDCAF;
  color:#9C9EA0;
}

.sousTitre{
	font-family: 'Raleway', Thin Italic;
	font-style: italic;
	color:#9C9EA0;
}

.marginHeader{
	margin-top: 100px;

}